<!DOCTYPE html>
<html>
<title>Request Referral</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- Bootstrap Classes -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- End of Bootstrap -->
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../index.html">NuraHealth</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="patient_profile.html">Home</a></li>
        <li><a href="labResults.html">Lab Results</a></li>
        <li><a href="billing.html">Billing</a></li>
        <li><a href="appointmentForm.html">Appointment Scheduling</a></li>
      </ul>
    </div>
  </nav>

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->

  <!-- Top Row -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="Logo.png" style="width:100%" alt="Avatar">
        </div>
      </div>
    </div>

    <!-- Rest of Column -->
    <div class="w3-threequarter">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <div class="w3-container">
          <h2 class="w3-text-teal w3-padding"><b>Requesting Specialist Referrals</b></h2>
          <p style="font-size:1vw" class="w3-padding"> We at NuraHealth are ready to help you in finding a specialist that can best serve you and your needs.
          There are many specialists within NuraHealth's network that we can connect with you once you fill out a referral request form. You may also speak to your
          healthcare professional and they can fill out a referral to meet your specific needs as well.</p>
          <p style="font-size:1vw" class="w3-padding"> Once your referral request has been processed, you will be notified as soon as possible.
          If there are any issues that you experience with scheduling, please do not hesitate to contact us.</p>
          <p style="font-size:1vw" class="w3-padding"> - NuraHealth </p>
          <hr>
        </div>

    <!-- End Middle Column -->
    </div>

  <!--End of First Row -->
  </div>
</div>

  <!-- Break used to separate rows -->
  <br>
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-container">
          <br>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Current Clinic</b></p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: NuraHealth Branch</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Address: Fake Address</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone Number: 123-456-7890</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: fakeEmail@NuraHealth.com</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Insurance</b></p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: Blue Cross Blue Shield</p>
          <p><i class="fa fa-certificate fa-fw w3-margin-right w3-large w3-text-teal"></i>Insurance Number: 123456789</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone Number: 123-456-7890</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: fakeEmail@NuraHealth.com</p>
          <hr>
          <a href="#"><b>Print Referral Form</b></a>
          <hr>
          <a href="#"><b>History of Referral Requests</b></a>
          <hr>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-threequarter">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-teal w3-padding"><b>Referral Form</b></h2>
        <div class="w3-container">

          <form>
            <div class="w3-row-padding">
              <div class="w3-half">
                <label for="patientFirstName">First Name</label>
                <input type="text" class="form-control" placeholder="First name">
                <br>
                <label for="patientID">Patient ID Number</label>
                <input type="text" class="form-control" placeholder="Patient ID">
              </div>
              <div class="w3-half">
                <label for="patientLastName">Last Name</label>
                <input type="text" class="form-control" placeholder="Last name">
                <br>
                <label for="nameCurrentPhysician">Name of Current Physician</label>
                <input type="text" class="form-control" placeholder="Name">
              </div>
            </div>

            <br>

            <div class="w3-row-padding">
              <div class="w3-half">
                <form>
                  <label for="medicalArea">Area of Request:</label>
                </form>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="dermaCheck">
                  <label class="form-check-label">Dermatology</label>
                </div>
                <br>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="dermaCheck">
                  <label class="form-check-label">Orthopedics</label>
                </div>
                <br>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="dermaCheck">
                  <label class="form-check-label">Opthalmology</label>
                </div>
                <br>
              </div>
              <div class="w3-half">
                <br>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="dermaCheck">
                  <label class="form-check-label">Optolaryngology</label>
                </div>
                <br>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="dermaCheck">
                  <label class="form-check-label">Podiatrics</label>
                </div>
                <br>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="dermaCheck">
                  <label class="form-check-label">Other:</label>
                  <input type="text" class="form-control" placeholder="Specify">
                </div>
                <br>
              </div>

            </div>

          </form>
          <div class="w3-row-padding">
            <form>
              <div class="form-group">
                <label for="patientReason">Description Of Need:</label>
                <textarea class="form-control" id="patientReason" rows="3"></textarea>
              </div>
            </form>
          </div>

          <button type="w3-button" class="w3-round-large w3-medium w3-teal w3-padding w3-hover-gray" style="width:100%">
            Submit
          </button>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Contact your provider with any additional questions.</p>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>
