<!DOCTYPE html>
<html>
  <head>
    <title>Nura Health Services</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="apForm.css">
  </head>
  <body>
    <div class="testbox">
      <form action="/">
        <div class="banner">
          <h1>Patient Appointment Scheduling</h1>
        </div>
        <br/>
        <fieldset>
          <legend>Patient Information</legend>
          <div class="item">
            <label for="fname"> First Name<span>*</span></label>
            <input id="fname" type="text" name="fname" required/>
          </div>
          <div class="item">
            <label for="lname"> Last Name<span>*</span></label>
            <input id="lname" type="text" name="lname" required/>
          </div>
          <div class="item">
            <label for="phone">Phone Number<span>*</span></label>
            <input id="phone" type="number"   name="phone" required/>
          </div>
          <div class="item">
            <label for="email">Email<span>*</span></label>
            <input id="email" type="text"   name="email" required/>
          </div>
          <div class="item">
            <label for="bdate">Birth Date <span>*</span></label>
            <input id="bdate" type="date" name="bdate" required/>
            <i class="fas fa-calendar-alt"></i>
          </div>
          <div class="question">
            <label>Is this your first visit to our offices?</label>
            <div class="question-answer">
              <div>
                <input type="radio" value="none" id="radio_1" name="visit"/>
                <label for="radio_1" class="radio"><span>Yes</span></label>
              </div>
              <div>
                <input  type="radio" value="none" id="radio_2" name="visit"/>
                <label for="radio_2" class="radio"><span>No</span></label>
              </div>
            </div>
          </div>
        </fieldset>
        <br/>
        <fieldset>
          <legend>Appointment Information</legend>
          <div class="item">
            <label for="date"> Appointment Date<span>*</span></label>
            <input id="date" type="date" name="date" required/>
            <i class="fas fa-calendar-alt"></i>
          </div>
          <div class="item">
            <p>Appointment Time</p>
            <select>
              <option selected value="" disabled selected></option>
              <option value="m" >Morning (8 AM - Noon)</option>
              <option value="a">Afternoon (Noon - 4 PM)</option>
              <option value="e">Evening (4 PM - 8 PM)</option>
            </select>
          </div>
          <div class="question">
            <label>Preferred Physician</label>
            <div class="question-answer">
              <div>
                <input type="radio" value="none" id="radio_3" name="physician"/>
                <label for="radio_3" class="radio"><span>Dr. Red</span></label>
              </div>
              <div>
                <input  type="radio" value="none" id="radio_4" name="physician"/>
                <label for="radio_4" class="radio"><span>Dr. Yellow</span></label>
              </div>
              <div>
                <input  type="radio" value="none" id="radio_5" name="physician"/>
                <label for="radio_5" class="radio"><span>Dr. Purple </span></label>
              </div>
              <div>
                <input  type="radio" value="none" id="radio_6" name="physician"/>
                <label for="radio_6" class="radio"><span>Dr. Doofenshmirtz</span></label>
              </div>
              <div>
                <input  type="radio" value="none" id="radio_7" name="physician"/>
                <label for="radio_7" class="radio"><span>No preference</span></label>
              </div>
            </div>
          </div>
          <div class="item">
            <label for="instructions">Please describe the reason for this visit </label>
            <textarea id="instructions" rows="2"></textarea>
          </div>
        </fieldset>
        <div class="btn-block">
          <button type="submit" href="">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
