<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../resources/css/LogIn.css">
</head>
<body>
    <div class="login">
        <h1>Sign In</h1>
        <form method="post">
            <input type="text" name="u" placeholder="Username or Email" required="required" />
            <input type="password" name="p" placeholder="Password" required="required" />
            <button style="border-color:black; color:white" type="submit" class="btn btn-primary btn-block btn-large">Login</button>
        </form>
    </div>
</body>
</html>
