<% include ../partials/header %>
<% include ../partials/menu %>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->

  <!-- Top Row -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="../../resources/img/asian-woman-smiling-professional.jpg" style="width:100%" alt="Avatar">
        </div>
      </div>
    </div>

    <!-- Rest of Column -->
    <div class="w3-threequarter">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <div class="w3-container">
          <h2 class="w3-text-teal w3-padding"><b>Current Bill</b></h2>
          <p style="font-size:2vw" class="w3-padding"> Total: $128.00</p>
          <p style="font-size:1.5vw" class="w3-padding"> Minimum Payment: $35.00</p>
          <p class="w3-opacity" class="w3-padding-16"> *If you need to defer payment, please contact your clinic's financial office.</p>
          <br>
          <hr>
        </div>

    <!-- End Middle Column -->
    </div>

  <!--End of First Row -->
  </div>
</div>

  <!-- Break used to separate rows -->
  <br>
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-container">
          <br>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Current Clinic</b></p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: NuraHealth Branch</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Address: Fake Address</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone Number: 123-456-7890</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: fakeEmail@NuraHealth.com</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Insurance</b></p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: Blue Cross Blue Shield</p>
          <p><i class="fa fa-certificate fa-fw w3-margin-right w3-large w3-text-teal"></i>Insurance Number: 123456789</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone Number: 123-456-7890</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: fakeEmail@NuraHealth.com</p>
          <hr>
          <a href="#"><b>Change Clinic</b></a>
          <hr>
          <a href="/insurance"><b>Update/Change Insurance</b></a>
          <hr>
          <a href="#"><b>Print Statement</b></a>
          <hr>
          <a href="#"><b>Full Payment History</b></a>
          <hr>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-threequarter">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-teal w3-padding"><b>Make A Payment</b></h2>
        <div class="w3-container">
          <div class="w3-row-padding">
            <div class="w3-half">
              <p style="font-size:1vw" class="w3-padding"> If you would like to make an online payment, please do so here.</p>
              <button type="w3-button" class="w3-round-large w3-medium w3-teal w3-padding w3-hover-gray" style="width:100%">
                Make a Payment
              </button>
            </div>
            <div class="w3-half">
              <p style="font-size:1vw" class="w3-padding"> If you would like to make a payment over the phone, please call the following phone number. </p>
              <p style="font-size:1vw" class="w3-padding"> <b>Phone Number: 123-456-7890</b> </p>
            </div>
            </div>
          <hr>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-teal w3-padding"><b>Payment History</b></h2>
        <div class="w3-container">
          <h4 class="w3-opacity">Payment: $54.00</h4>
          <p>Date Posted: MMDDYYYY</p>
          <p>Date Paid: MMDDYYYY</p>
          <a> Statement Details </a>
          <hr>
          <h4 class="w3-opacity">Payment: $298.00</h4>
          <p>Date Posted: MMDDYYYY</p>
          <p>Date Paid: MMDDYYYY</p>
          <a> Statement Details </a>
          <hr>
          <h4 class="w3-opacity">Payment: $120.00</h4>
          <p>Date Posted: MMDDYYYY</p>
          <p>Date Paid: MMDDYYYY</p>
          <a> Statement Details </a>
          <hr>
        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<% include ../partials/footer %>
