<% include ../partials/header %>
<% include ../partials/menu %>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->

  <!-- Top Row -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="../../resources/img/asian-woman-smiling-professional.jpg" style="width:100%" alt="Avatar">
        </div>
      </div>
    </div>

    <!-- Rest of Column -->
    <div class="w3-threequarter">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <div class="w3-container">
          <h2 class="w3-text-teal w3-padding"><b>Insurance</b></h2>
          <p style="font-size:1vw" class="w3-padding"> This the insurance we currently have on record for you. If you have any specific questions regarding
          regarding your insurance details or coverage, please contact your insurance company directly. </p>
          <p style="font-size:1vw" class="w3-padding"> If you have switched insurance companies, you can update your insurance information from this page.
          Please contact us with any quetions or concerns you have when updating your information.</p>
          <p style="font-size:1vw" class="w3-padding"> - NuraHealth </p>
          <hr>
        </div>

    <!-- End Middle Column -->
    </div>

  <!--End of First Row -->
  </div>
</div>

  <!-- Break used to separate rows -->
  <br>
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-container">
          <br>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Patient</b></p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: Jane Doe</p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Age: 41</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Weight: 126</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Last Appointment: February 19th, 2018</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Patient ID: 123456789</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Current Physician</b></p>
          <p>Contact Info</p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: Dr. Nura Health</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone Number: 123-456-7890</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: fakeEmail@NuraHealth.com</p>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Specialists</b></p>
          <p>Contact Info</p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: Dr. Nura Health</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone Number: 123-456-7890</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: fakeEmail@NuraHealth.com</p>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-threequarter">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-teal w3-padding"><b>Your Insurance Information</b></h2>
        <div class="w3-container">
          <p>Name of Insurance: Blue Cross Blue Shield</p>
          <p>Member Name: Jane Doe</p>
          <p>RxGrp Number: 00000000123</p>
          <p>Insurance Number: 123456789</p>
          <p>Insurance Contact: 1-800-123-4567</p>
          <p>Expiration Date: MMDDYYYY</p>

          <button type="w3-button" class="w3-round-large w3-medium w3-teal w3-padding w3-hover-gray" style="width:100%">
            Change
          </button>
          <hr>

        </div>
      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<% include ../partials/footer %>
