<% include ../partials/header %>
<% include ../partials/menu %>
<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->

  <!-- Top Row -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="../../resources/img/asian-woman-smiling-professional.jpg" style="width:100%" alt="Avatar">
        </div>
      </div>
    </div>

    <!-- Middle Column-->
    <div class="w3-half">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <div class="w3-container">
          <h2 class="w3-text-teal w3-padding"><b>Request a Refill</b></h2>
          <p style="font-size:1vw" class="w3-padding"> If you are in need of refilling any prescriptions, place an order to your designated
          pharmacy using this form. Your order will be processed as quickly as possible, and you will receive notification of when your order
          is ready to be picked up.</p>
          <a class="w3-padding">Request a Refill Form</a>
          <hr>
        </div>
        <br>
        <br>
        <br>
      </div>

    <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-quarter">

      <div class="w3-white w3-text-grey w3-card-4">

        <br>
        <div class="w3-container">
          <h2 class="w3-text-teal w3-padding"><b>Pharmacy</b></h2>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: Walmart</p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Address: 1234 Fake St., Fake City, Fake State 12345</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone: 123-456-7890</p>
          <p><i class="fa fa-asterisk fa-fw w3-margin-right w3-large w3-text-teal"></i>Pharmacist: Dr. Fake Pharmacist</p>
          <p><i class="fa fa-certificate fa-fw w3-margin-right w3-large w3-text-teal"></i>Hours: 8 AM - 5 PM</p>
          <br>
          <br>
        </div>
      </div><br>

    <!-- End Right Column -->
    </div>

  <!--End of First Row -->
  </div>

  <!-- Break used to separate rows -->
  <br>
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-quarter">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-container">
          <br>
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Patient</b></p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: Jane Doe</p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Age: 41</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Weight: 126</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Last Appointment: February 19th, 2018</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Patient ID: 123456789</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Current Physician</b></p>
          <p>Contact Info</p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: Dr. Nura Health</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone Number: 123-456-7890</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: fakeEmail@NuraHealth.com</p>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Specialists</b></p>
          <p>Contact Info</p>
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Name: Dr. Nura Health</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone Number: 123-456-7890</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email: fakeEmail@NuraHealth.com</p>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-half">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Current Prescriptions</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Vicodin (hydrocodone/acetaminophen)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Prescribed on: July 17th, 2019</h6>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Last Refill: January 09th, 2020</h6>
          <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Simvastatin (Generic for Zocor)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Prescribed on: December 08th, 2019</h6>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Last Refill: February 12th, 2020</h6>
          <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Lisinopril (Generic for Prinivil)</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Prescribed on: February 22nd, 2019</h6>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Last Refill: November 18th, 2019</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
        </div>
      </div>

    <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-quarter">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="../../resources/img/pills.jpg" style="width:100%" alt="Avatar">
        </div>

        <br>
        <div class="w3-container">
          <a href="#"><b>Change Pharmacy</b></a>
          <hr>
          <a href="#"><b>Ask Questions About Your Prescriptions</b></a>
          <hr>
          <a href="#"><b>Change Pickup Date</b></a>
          <hr>

          <br>
        </div>
      </div><br>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>
<% include ../partials/footer %>
