<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../resources/css/termsAndPrivacy.css">
  </head>
  <body>
    <div class="a">
      <h1 >
        These are our terms: like our product plz.
      </h1>
    </div>
    <div class="container1">
      <a href="accountCreation.html" class="btn btn-info" role="button"><button class="button"> Back to Signup Page</button></a>
    </div>

  </body>
</html>
